.grid-container {
  display: grid;
  grid-template-rows: 10% 1fr;
  /* Auto height for navbar, remaining height for sub-parent */
  grid-template-columns: 25% 75%;
  /* 25% for sidebar, 75% for content */
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: rgb(238, 230, 230);
  grid-row: 1;
  grid-column: 1 / span 2;
  /* Span across both columns */
}

/* .sidebar {
    background-color: beige;
    
  }*/
.content {
  background-color: rgb(240, 248, 255);


}

@media (max-width: 768px) {
  .grid-container {
    grid-template-rows: 10% 1fr;
    /* Auto height for navbar, remaining height for sub-parent */
    grid-template-columns: 100%;
    /* Full width for both sidebar and content */
  }

  .navbar {
    height: auto;
    /* Auto height for smaller screens */
    grid-column: auto;
    /* Reset grid column for smaller screens */
  }

  .sidebar {
    width: 100%;
    /* Take full width on smaller screens */
    height: auto;
  }

  .content {
    display: none;
  }
}