<div class="parent-chat">
    @if(userList==0){
        <div class="no-chat">
            Choose a user to start a chat
        </div>
    }
    @else {
     <div class="profile-bar">
        <div class="status">
            <button class="back-button"><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/back--v1.png" alt="back--v1"/></button>
            <img class="profile-picture" width="48" height="48" src="https://cdn.fstoppers.com/styles/full/s3/media/2019/12/04/nando-jpeg-quality-006-too-much.jpg" alt="external-user-date-and-time-tanah-basah-glyph-tanah-basah"/>
            <div class="info">
                <p class="name">Shubhangi Jain</p>
                <p class="activity">Active</p>
            </div>
        </div>
        <div class="options">
            <button class="icons"><img width="16" height="16" src="https://img.icons8.com/puffy-filled/32/phone-disconnected.png" alt="phone-disconnected"/></button>
            <button class="icons"><img width="16" height="16" src="https://img.icons8.com/ios-glyphs/30/video-call.png" alt="video-call"/></button>
            <button class="icons"><img width="16" height="16" src="https://img.icons8.com/ios-filled/50/search--v1.png" alt="search--v1"/></button>
            <button class="icons"><img width="16" height="16" src="https://img.icons8.com/fluency-systems-filled/48/show-right-side-panel.png" alt="show-right-side-panel"/></button>
        </div>
    </div>
    <div class="messages">
        <div class="message-format-left">
            <img src="https://media.istockphoto.com/id/1322220448/photo/abstract-digital-futuristic-eye.jpg?s=612x612&w=0&k=20&c=oAMmGJxyTTNW0XcttULhkp5IxfW9ZTaoVdVwI2KwK5s=" alt="" class="user-image">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component:</p>
        </div>
        <div class="message-format-right">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component:</p>
        </div>
        <div class="message-format-left">
            <img src="https://media.istockphoto.com/id/1322220448/photo/abstract-digital-futuristic-eye.jpg?s=612x612&w=0&k=20&c=oAMmGJxyTTNW0XcttULhkp5IxfW9ZTaoVdVwI2KwK5s=" alt="" class="user-image">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component:</p>
        </div>
        <div class="message-format-right">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component:</p>
        </div>
        <div class="message-format-left">
            <img src="https://media.istockphoto.com/id/1322220448/photo/abstract-digital-futuristic-eye.jpg?s=612x612&w=0&k=20&c=oAMmGJxyTTNW0XcttULhkp5IxfW9ZTaoVdVwI2KwK5s=" alt="" class="user-image">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component:</p>
        </div>
        <div class="message-format-right">
            <p class="display-text">To use the Angular router, an application needs to have at least two components so that it can navigate from one to the other. To create a component using the CLI, enter the following at the command line where first is the name of your component</p>
        </div>
    </div>
    <div class="chat-input">
       <div class="attachment-options">
        <button class="attach"><img width="14" height="14" src="https://img.icons8.com/android/24/plus.png" alt="plus"/></button>
        <button class="attach"><img width="14" height="14" src="https://img.icons8.com/ios-glyphs/30/image.png" alt="image"/></button>
        <button class="attach"><img width="14" height="14" src="https://img.icons8.com/material-rounded/24/happy--v1.png" alt="happy--v1"/></button>
       </div>
       <input type="text" class="text-input">
       <!-- <img width="64" height="64" src="https://img.icons8.com/cotton/64/talk.png" alt="talk"/> -->
       <button class="send"><img width="32" height="32" src="https://img.icons8.com/ios-glyphs/30/filled-sent.png" alt="filled-sent"/></button>
    </div>
}
</div>
