<!-- <input type="text" placeholder="username" required>
<button (click)="chat_app()">Submit</button> -->

<div class="login-container">
  <div class="container-left">
    <!-- <img
    width="600"
    height="600"
    src="https://img.freepik.com/free-vector/messages-concept-illustration_114360-583.jpg?w=826&t=st=1706704977~exp=1706705577~hmac=3eee5de1fb230bef467dda48a46da434fdae2ada3ab7d734121b16dcc16eb1af"
    alt="Placeholder image"
  /> -->
  <img src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"  style="min-height:100%;" />

    
  </div>
  <div class="container-right">
    <h1 class="welcome-message">Welcome to ChatApp</h1>
    <div class="form-content" style="width:80%;height: 90%;">
      <div class="login-page">
        <div class="form">
          <!-- <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form> -->
          <form class="login-form">
            <input type="text" placeholder="username"/>
            <!-- <input type="password" placeholder="password"/> -->
            <button (click)="chat_app()">login</button>
            <p class="message">Not registered? <a href="#" >Create an account</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
